.image {
    background-image: url(../../assests/image3.webp);
    width: 95rem;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;



}

.writting-one {
    color: white;
    padding-top: 230px;
    padding-right: 750px;
}

.writting-two {
    color: white;
    padding-right: 770px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#home-link {
    text-decoration: none;
    color:skyblue;
    width: 100px;
    height: 27px;
    position: relative;
    top: 12px;
    border: none;
    font-size: large;
    display: inline-block;
    background-color: white;
    margin-right: 750px;
}
#home-link:hover{
    color: white;
    background-color: skyblue;
}